```html
<!DOCTYPE html>
<html>
<head>
    <title>Add Device</title>
</head>
<body>
    <h1>Add Device</h1>
    <form action="/add_device" method="post">
        <label for="hostname">Hostname:</label>
        <input type="text" name="hostname" id="hostname">
        <br>
        <label for="ip_address">IP Address:</label>
        <input type="text" name="ip_address" id="ip_address">
        <br>
        <label for="port">Port:</label>
        <input type="text" name="port" id="port">
        <br>
        <label for="switch">Switch:</label>
        <input type="text" name="switch" id="switch">
        <br>
        <input type="submit" value="Add Device">
    </form>
    <br>
    <a href="/">Back to Device List</a>
</body>
</html>
```