<!DOCTYPE html>
<html>
<head>
    <title>Device List</title>
</head>
<body>
    <h1>Device List</h1>
    <form action="/" method="get">
        <label for="search">Search by hostname:</label>
        <input type="text" name="search" id="search">
        <input type="submit" value="Search">
    </form>
    <br>
    <table>
        <thead>
            <tr>
                <th>Hostname</th>
                <th>IP Address</th>
                <th>Port</th>
                <th>Switch</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.hostname }}</td>
                <td>{{ device.ip_address }}</td>
                <td>{{ device.port }}</td>
                <td>{{ device.switch }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/add_device">Add Device</a> 
</body>
</html>
